# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.venv
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.tanstack
hq-config.json
public/faction_data
public/faction_data_dev
faction_data_test
zmq
src/routeTree.gen.ts
src/routeTree.gen.js
src/assets/factions_meta.json
