@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-accent: var(--color-emerald-950);
  --color-bg-d: var(--color-neutral-950);
  --color-bg2-d: var(--color-neutral-900);
  --color-accent-d: var(--color-lime-500);
}

@layer base {
  body {
    @apply text-base;
    font-family: 'Inter', sans-serif;
  }

  @variant dark {
    body {
      @apply bg-bg-d text-neutral-200;
    }

    body a {
      @apply dark:text-lime-600 hover:underline hover:text-lime-400;
    }
  }
}

@utility max-w-site {
  max-width: var(--container-7xl);
}