@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-accent: var(--color-emerald-950);
  --color-bg-d: var(--color-neutral-950);
  --color-bg2-d: var(--color-neutral-900);
  --color-accent-d: var(--color-lime-500);
}

@layer base {
  body {
    @apply bg-white text-black dark:bg-bg-d dark:text-neutral-200;
    @apply text-base;
    font-family: 'Inter', sans-serif;
  }
}

@utility max-w-site {
  max-width: var(--container-7xl);
}